@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

.textIni{
    font-family: 'Lobster Two', cursive;
}

.parraf{
    text-align: justify;
}

.logoNav{
    width: 15%;
    padding: 10px;
}

.contenedor{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.contenedor2{
    width: 25%;
    margin-left: 37%;
    margin-right: 37%;
}

.borderF{
    border: 1px solid rgb(196, 194, 194);
}

.usuarioI{
    border: 1px solid rgb(196, 194, 194);
    font-family: 'Lobster Two', cursive;
    color: rgb(79, 79, 82);
}

.textForm{
    font-family: 'Montserrat Alternates', sans-serif;
}


@media (max-width: 992px){
    .contenedor{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .borderF{
        border: 1px solid rgb(196, 194, 194);
    }

    .contenedor2{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}


@media (max-width: 576px){
    .contenedor{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .borderF{
        border: 1px solid rgb(196, 194, 194);
    }

    .contenedor2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}